.principal {
  margin-top: 5rem;
  display: flex;
  justify-content: space-evenly;
}

.fundo-imagem {
  width: 415px;
  height: 415px;
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.imagem-produto {
  margin: auto;
  width: 350px;
}

.produto-info {
  width: 530px;
}

.produto-info__titulo {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.borda-inferior {
  border-bottom: 1px solid var(--cor-primaria);
}

.produto-info__titulo__coracao {
  width: 35px;
  height: 35px;
}

.produto-info__estoque {
  padding-top: 15px;
}

.produto-info__estoque h2 {
  font-size: 1.5rem;
}

.produtos-info__pagamento {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.produtos-info__pagamentos-icone {
  width: 28px;
}

.produtos-info__pagamentos-valor {
  font-size: 20px;
}

.produtos-info__pagamentos {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px;
}

.produtos-info__pagamentos__total {
}

.produtos-info__pagamentos__cartao {
  border-left: 1px solid var(--cor-primaria);
}

.produtos-info__quantidade {
  display: flex;
  border: 1px solid;
}

.produtos-info__quantidade span {
  font-size: 25px;
  cursor: pointer;
  padding: 10px;
}

.produtos-info__quantidade__numero {
  border-left: 1px solid;
  border-right: 1px solid;
}
