
.estilo{
	background-color: #010340!important;
  max-width: 320px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.sidebar-logo {
  width: 151px;
  height: 56;
  display: flex;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.sidebar-text {
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 18px;
  color: #FFFFFF;
}

.wrapper {
  display: grid;
  grid-template-rows: 100px 100px 100px;
}
