/* You can add global styles to this file, and also import other style files */


:root{
  --cor-primaria: #000A61;
  --cor-branco: #f0f0f0;
}

.fundo-primario {
  background-color: var(--cor-primaria);
}
