<footer class="row fundo-primario footer">

  <div class="col-md-4 logoAlinhar">
    <img src="assets/logo.png" alt="Logo Quasar" width="181px">
    <div class="textoQuasar">
      <p>
        Nós somos uma organização especializada em peças e serviços para veículos automotivos.
        Nossa missão é entregar um serviço confiável e de qualidade.
      </p>
    </div>
    <small class="TextoCopyright ff-inter">
      &copy;
      2022 Quasar Limitada.
    </small>
  </div>


  <div class="row col-md-6 textoAlinhar">

    <div class="col-md-3">
      <h4>Empresa</h4>
      <p>Página inicial</p>
      <p>Contato</p>
    </div>

    <div class="col-md-3">
      <h4>Explorar</h4>
      <p>FAQ</p>
    </div>

    <div class="col-md-3">
      <h4>Endereço</h4>
      <p>PSherman 42 </p>
      <p>Wallaby Way</p>
      <p>Sydney, NSW</p>
    </div>

    <div class="col-md-3">
      <h4>Social</h4>
      <div class="d-flex">
        <fa-icon [icon]="iconeTwitter" class="icon"></fa-icon>
        <p>Twitter</p>
      </div>
      <div class="d-flex">
        <fa-icon [icon]="iconeFacebook" class="icon"></fa-icon>
        <p>Facebook</p>
      </div>
      <div class="d-flex">
        <fa-icon [icon]="iconeInstagram" class="icon"></fa-icon>
        <p>Instagram</p>
      </div>
    </div>

  </div>
</footer>



