<br>
<br>
<br>
<br>
<br>
<br>
<br>


<footer class="row fundo-primario">
  <div class="col-md-4">
    <img src="assets/logo.png" alt="Logo Quasar" width="181px">
    <p>
      Nós somos uma organização especializada em peças e serviços para veículos automotivos.
      Nossa missão é entregar um serviço confiável e de qualidade.
    </p>
    <small class="TextoCopyright ff-inter">
      &copy;
      2022 Quasar Limitada.
    </small>
  </div>

  <div class="row col-md-8">

    <div class="col-md-3">
      <h4>Empresa</h4>
      <p></p>
      <p></p>
    </div>

    <div class="col-md-3">
      <h4>Explorar</h4>
      <p></p>
      <p></p>
    </div>

    <div class="col-md-3">
      <h4>Endereço</h4>
      <p></p>
      <p></p>
    </div>

    <div class="col-md-3">
      <h4>Social</h4>
      <p></p>
      <p></p>
    </div>

  </div>
</footer>



