<div class="container">
  <div class="row my-5">
    <div class="col-md-12 card p-4 shadow">
      <div class="d-flex flex-column align-items-center p-4">
        <fa-icon class="icone cor-primaria" [icon]="iconeUsuario"></fa-icon>
        <h1 class="h2 cor-primaria">Olá, {{usuario.cliente.nome}} </h1>
      </div>

      <div class="row">
        <div class="col-md-6 mb-3">
          <a [routerLink]="['/carrinho']">
            <div class="w-100 nav p-3 justify-content-center">
              Meu carrinho
            </div>
          </a>
        </div>

        <div class="col-md-6 mb-3">
          <a [routerLink]="['/usuario/favoritos']">
            <div class="w-100 nav p-3 justify-content-center">
              Meus favoritos
            </div>
          </a>
        </div>

        <div *ngIf="administrador" class="col-md-12 mb-3">
          <a [routerLink]="['/produtos/adicionar']">
            <div class="w-100 nav p-3 justify-content-center">
              Adicionar produto
            </div>
          </a>
        </div>

      </div>


      <button (click)="botaoLogout()" class="w-100 btn btn-danger">Logout</button>

    </div>
  </div>
</div>
