label {
    color: var(--cor-primaria);
    font-size: 16px;
    font-weight: bold;
}

.endereco-top {
    color: var(--cor-primaria);
    font-size: 50px;
    
}

.house-icon-endereco {
    font-size: 100px;
    color: var(--cor-primaria);
}

input {
    border-radius: 5px;
}

button {
    font-size: 18px;
    font-weight: bold;
}