<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-10">
        <div class="card shadow-2-strong" style="border-radius: 5px">
          <div class="card-body p-5 text-center">
            <h1 class="endereco-top mb-5 my-4" style="font-weight: bold">
              ENDEREÇO
            </h1>
              <div
                class="form-outline mb-4 text-left"
                style="font-weight: bold"
              >
                <label class="login form-label my-1" for="typeEmailX-2"
                id=""
                  >CEP</label
                >
                <input
                  type="email"
                  id="typeEmailX-2"
                  class="form-control form-control-lg" formControlName="login" autocomplete="off"
                />
              </div>
              <div class="form-row">
              <div
                class="form-outline mb-4 text-left"
                style="font-weight: bold"
              >
                <label class="login form-label my-1" for="typeEmailX-2"
                  >Endereço de Entrega</label
                >
                <input
                  type="email"
                  id="typeEmailX-2"
                  class="form-control form-control-lg" formControlName="login" autocomplete="off"
                />
              </div>
              <div
                class="form-outline mb-4 text-left"
                style="font-weight: bold"
              >
                <label class="senha form-label my-1" for="text"
                  >Nº</label
                >
                <input
                  type="text"
                  id="typetextX-2"
                  class="form-control form-control-lg" formControlName="senha"
                />
                </div>
              </div>
              <div class="form-row">
              <div
                class="form-outline mb-4 text-left"
                style="font-weight: bold"
              >
                <label class="login form-label my-1" for="typeEmailX-2"
                  >Bairro</label
                >
                <input
                  type="email"
                  id="typeEmailX-2"
                  class="form-control form-control-lg" formControlName="login" autocomplete="off"
                />
              </div>
              <div
                class="form-outline mb-4 text-left"
                style="font-weight: bold"
              >
                <label class="senha form-label my-1" for="text"
                  >UF</label
                >
                <input
                  type="text"
                  id="typetextX-2"
                  class="form-control form-control-lg" formControlName="senha"
                />
              </div>
              </div>
              <div
                class="form-outline mb-4 text-left"
                style="font-weight: bold"
              >
                <label class="senha form-label my-1" for="text"
                  >Cidade</label
                >
                <input
                  type="text"
                  id="typetextX-2"
                  class="form-control form-control-lg" formControlName="senha"
                />
              </div>
              <div
                class="form-outline mb-4 text-left"
                style="font-weight: bold"
              >
                <label class="senha form-label my-1" for="text"
                  >Complemento e Referência</label
                >
                <input
                  type="text"
                  id="typetextX-2"
                  class="form-control form-control-lg" formControlName="senha"
                />
              </div>
              <div
                class="form-outline mb-4 text-left"
                style="font-weight: bold"
              >
                <label class="senha form-label my-1" for="text"
                  >Destinatário</label
                >
                <input
                  type="text"
                  id="typetextX-2"
                  class="form-control form-control-lg" formControlName="senha"
                />
              </div>
              <button
                class="btn btn-primary btn-lg btn-block"
                type="submit"
                style="background-color: #000a61"
             >
                CONTINUAR
              </button>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
