<main class="mt-5">

  <div class="row">
    <div class="col-md-5 d-flex justify-content-center">
      <div class="fundo-imagem card">
        <img class="imagem-produto img-fluid p-4 card-img-top" [src]="produtoDetalhe.imagem" alt="imagem do produto">
      </div>
    </div>
    <div class="col-md-7 my-4">
      <div class="produto-info">
        <div class="d-flex borda-inferior justify-content-between">
          <h1 class="produto-info__titulo__nome"> {{ produtoDetalhe.nome }} </h1>
          <div>
            <app-icone-coracao class="px-2 icone-titulo" *ngIf="favorito" (click)="removerFavorito(produtoDetalhe.codigo)"></app-icone-coracao>
            <fa-icon class="px-2 icone-titulo" *ngIf="!favorito" [icon]="iconeCoracaoVazio" (click)="adicionarFavorito(produtoDetalhe.codigo)"></fa-icon>
            <fa-icon class="px-2 icone-titulo" [icon]="iconeShare"></fa-icon>
          </div>
        </div>
        <div class="produto-info__estoque borda-inferior">
          <h2 class="py-2" *ngIf="produtoDisponivel">Produto : Disponível</h2>
          <h2 class="py-2" *ngIf="!produtoDisponivel">Produto : Indisponível</h2>
        </div>
        <div class="produtos-info__pagamento mt-3">
          <div class="produtos-info__pagamentos produtos-info__pagamentos__total">
            <fa-icon class="px-2 icone-pagamento" [icon]="iconeDinheiro"></fa-icon>
            <span class="produtos-info__pagamentos-valor"> {{ produtoDetalhe.valor | currency }} </span>
          </div>
          <div class="produtos-info__pagamentos produtos-info__pagamentos__cartao">
            <fa-icon class="px-2 icone-cartao" [icon]="iconeCartao"></fa-icon>
            <span class="produtos-info__pagamentos-valor"> 10x de {{ produtoDetalhe.valor/10 | currency }} </span>
          </div>
        </div>
    </div>
    </div>
  </div>
</main>
