<main class="container mt-5">

  <div class="row">
    <div class="col-md-5 d-flex justify-content-center">
      <div class="fundo-imagem card">
        <img class="imagem-produto img-fluid p-4 card-img-top" [src]="produtoDetalhe.imagem" alt="imagem do produto">
      </div>
    </div>
    <div class="col-md-7 my-4">
      <div class="produto-info">
        <div class="produto-info__titulo borda-inferior">
          <h1 class="produto-info__titulo__nome"> {{ produtoDetalhe.nome }} </h1>
          <img class="produto-info__titulo__coracao" src="assets/icone-coracao-azul.png" alt="">
        </div>
        <div class="produto-info__estoque borda-inferior">
          <h2 *ngIf="produtoDisponivel">Produto : Disponível</h2>
          <h2 *ngIf="!produtoDisponivel">Produto : Indisponível</h2>
        </div>
        <div class="produtos-info__pagamento mt-3">
          <div class="produtos-info__pagamentos produtos-info__pagamentos__total">
            <img class="produtos-info__pagamentos-icone" src="assets/icone-dinheiro.png" alt="">
            <span class="produtos-info__pagamentos-valor"> {{ produtoDetalhe.valor | currency }} </span>
          </div>
          <div class="produtos-info__pagamentos produtos-info__pagamentos__cartao">
            <img class="produtos-info__pagamentos-icone" src="assets/icone-cartao.png" alt="">
            <span class="produtos-info__pagamentos-valor"> 10x de {{ produtoDetalhe.valor/10 | currency }} </span>
          </div>
        </div>
    </div>
    </div>
  </div>
</main>
