<section>
  <form
  [formGroup]="cadastroForm"
  (submit)="botaoEnviar()"
  class="row tela form-group d-flex"
>
  <div class="card-cadastro container mb-4" style="border-radius: 5px">
    <div class="row mt-3">
      <div class="col col-md-6">
        <label for="nome">Nome*</label>
        <input
          type="text"
          class="form-control"
          id="nome"
          formControlName="nome"
          placeholder="Digite seu nome aqui"
        />
        <span
          class="text-danger py-1"
          *ngIf="(cadastroForm.get('nome')?.errors?.['minlength'] || cadastroForm.get('nome')?.errors?.['required']) && (cadastroForm.get('nome')?.touched || cadastroForm.get('nome')?.dirty)"
          >Campo obrigatório*</span
        >
        <span
          class="text-danger py-1"
          *ngIf="cadastroForm.get('nome')?.errors?.['maxlength'] && (cadastroForm.get('nome')?.touched || cadastroForm.get('nome')?.dirty)"
          >Número máximo de caracteres excedido*</span
        >
      </div>
      <div class="col col-md-6">
        <label for="sobrenome">Sobrenome*</label>
        <input
          type="text"
          class="form-control"
          id="sobrenome"
          formControlName="sobrenome"
          placeholder="Digite seu sobrenome aqui"
        />
        <span
          class="text-danger py-1"
          *ngIf="(cadastroForm.get('sobrenome')?.errors?.['minlength'] || cadastroForm.get('sobrenome')?.errors?.['required']) && (cadastroForm.get('sobrenome')?.touched || cadastroForm.get('sobrenome')?.dirty)"
          >Campo obrigatório*</span
        >
        <span
          class="text-danger py-1"
          *ngIf="cadastroForm.get('sobrenome')?.errors?.['maxlength'] && (cadastroForm.get('sobrenome')?.touched || cadastroForm.get('sobrenome')?.dirty)"
          >Número máximo de caracteres excedido*</span
        >
      </div>
      <div class="col col-md-6 mt-4">
        <label for="nome">Nome Fantasia*</label>
        <input
          type="text"
          class="form-control"
          id="nome"
          formControlName="nomeFantasia"
          placeholder="Digite seu nome fantasia aqui"
        />
        <span
          class="text-danger py-1"
          *ngIf="(cadastroForm.get('nomeFantasia')?.errors?.['minlength'] || cadastroForm.get('nomeFantasia')?.errors?.['required']) && (cadastroForm.get('nomeFantasia')?.touched || cadastroForm.get('nomeFantasia')?.dirty)"
          >Campo obrigatório*</span
        >
        <span
          class="text-danger py-1"
          *ngIf="cadastroForm.get('nomeFantasia')?.errors?.['maxlength'] && (cadastroForm.get('nomeFantasia')?.touched || cadastroForm.get('nomeFantasia')?.dirty)"
          >Número máximo de caracteres excedido*</span
        >
      </div>
      <div class="col col-md-6 mt-4">
        <label for="sobrenome">Razão Social*</label>
        <input
          type="text"
          class="form-control"
          id="sobrenome"
          formControlName="razaoSocial"
          placeholder="Digite sua razão social aqui"
        />
        <span
          class="text-danger py-1"
          *ngIf="(cadastroForm.get('razaoSocial')?.errors?.['minlength'] || cadastroForm.get('razaoSocial')?.errors?.['required']) && (cadastroForm.get('razaoSocial')?.touched || cadastroForm.get('razaoSocial')?.dirty)"
          >Campo obrigatório*</span
        >
        <span
          class="text-danger py-1"
          *ngIf="cadastroForm.get('razaoSocial')?.errors?.['maxlength'] && (cadastroForm.get('razaoSocial')?.touched || cadastroForm.get('razaoSocial')?.dirty)"
          >Número máximo de caracteres excedido*</span
        >
      </div>
      <div class="col col-md-6 mt-4">
        <label for="nome">CNPJ*</label>
        <input
          type="text"
          class="form-control"
          id="nome"
          formControlName="cpfCnpj"
          placeholder="Digite seu CNPJ aqui"
        />
        <span
          class="text-danger py-1"
          *ngIf="(cadastroForm.get('cpfCnpj')?.errors?.['minlength'] || cadastroForm.get('cpfCnpj')?.errors?.['required']) && (cadastroForm.get('cpfCnpj')?.touched || cadastroForm.get('cpfCnpj')?.dirty)"
          >Campo obrigatório*</span
        >
        <span
          class="text-danger py-1"
          *ngIf="cadastroForm.get('cpfCnpj')?.errors?.['maxlength'] && (cadastroForm.get('cpfCnpj')?.touched || cadastroForm.get('cpfCnpj')?.dirty)"
          >Número máximo de caracteres excedido*</span
        >
      </div>
      <div class="col col-md-6 mt-4">
        <label for="sobrenome">IE*</label>
        <input
          type="text"
          class="form-control"
          id="sobrenome"
          formControlName="inscricaoEstadual"
          placeholder="Digite sua inscrição estadual aqui"
        />
        <span
          class="text-danger py-1"
          *ngIf="(cadastroForm.get('inscricaoEstadual')?.errors?.['minlength'] || cadastroForm.get('inscricaoEstadual')?.errors?.['required']) && (cadastroForm.get('inscricaoEstadual')?.touched || cadastroForm.get('inscricaoEstadual')?.dirty)"
          >Campo obrigatório*</span
        >
        <span
          class="text-danger py-1"
          *ngIf="cadastroForm.get('inscricaoEstadual')?.errors?.['maxlength'] && (cadastroForm.get('inscricaoEstadual')?.touched || cadastroForm.get('inscricaoEstadual')?.dirty)"
          >Número máximo de caracteres excedido*</span
        >
      </div>
      <div class="col col-md-6 mt-4">
        <label for="email">E-mail*</label>
        <input
          type="text"
          class="form-control"
          id="email"
          formControlName="email"
          placeholder="Digite seu e-mail aqui"
        />
        <span
          class="text-danger py-1"
          *ngIf="
            cadastroForm.get('email')?.errors &&
            (cadastroForm.get('email')?.touched ||
              cadastroForm.get('email')?.dirty)
          "
          >Campo obrigatório*</span
        >
      </div>
      <div class="col col-md-6 mt-4">
        <label for="confirmeEmail">Confirme o seu e-mail*</label>
        <input
          type="text"
          class="form-control"
          id="confirmarEmail"
          formControlName="confirmarEmail"
          placeholder="Digite seu e-mail aqui"
        />
        <span
          class="text-danger py-1"
          *ngIf="
            cadastroForm.get('confirmarEmail')?.errors &&
            (cadastroForm.get('confirmarEmail')?.touched ||
              cadastroForm.get('confirmarEmail')?.dirty)
          "
          >Campo obrigatório*</span
        >
      </div>
      <div class="col col-md-6 mt-4">
        <label for="senha">Senha*</label>
        <input
          type="password"
          class="form-control"
          id="senha"
          formControlName="senha"
          placeholder="Digite sua senha aqui"
        />
        <span
          class="text-danger py-1"
          *ngIf="
            cadastroForm.get('senha')?.errors &&
            (cadastroForm.get('senha')?.touched ||
              cadastroForm.get('senha')?.dirty)
          "
          >Campo obrigatório*</span
        >
      </div>
      <div class="col col-md-6 mt-4">
        <label for="senhaConfirmacao">Confirme a sua senha*</label>
        <input
          type="password"
          class="form-control"
          id="senhaConfirmacao"
          formControlName="senhaConfirmacao"
          placeholder="Digite sua senha aqui"
        />
        <span
          class="text-danger py-1"
          *ngIf="
            cadastroForm.get('senhaConfirmacao')?.errors &&
            (cadastroForm.get('senhaConfirmacao')?.touched ||
              cadastroForm.get('senhaConfirmacao')?.dirty)
          "
          >Campo obrigatório*</span
        >
      </div>
    </div>
    <section class="fim">
      <div class="container row mt-3">
        <p style="">Os campos com * são obrigatórios.</p>
        <div class="form-check mt-n1">
          <input
            class="form-check-input"
            type="checkbox"
            id="blankCheckbox"
            value="option1"
            aria-label="..."
          />
          <p class="ciente mt-1" style="font-weight: 14px">
            Estou ciente e concordo com as <br />
            <u>políticas de privacidade</u> do Quasar.
          </p>
          <button
              class="btn btn-lg botao mt-4"
              [disabled]="cadastroForm.invalid"
              type="submit"
            >
              Criar conta
            </button>
        </div>
      </div>
    </section>
  </div>
  </form>
</section>
