<main class="container">

  <form class="row tela form-group d-flex">

    <div class="col-md-8">

      <div class="col-md-12">
        <div class="box mb-4 linha1">
          <div>
            <p>pagamento</p>
          </div>

          <div class="p-4 w-100">
            <div class="w-100">
              <label>label</label>
              <input type="text">
            </div>
          </div>

        </div>

      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="minibox1 mb-4 p-4">
            <div class="w-100">
              <label>label</label>
              <input type="text">
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="minibox2 mb-4 p-4">
            <div class="w-100">
              <label>label</label>
              <input type="text">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="col-md-12">
        <div class="box mb-4 p-4 linha">
          <div class="w-100">
            <label>label</label>
            <input type="text">
          </div>
        </div>
      </div>
    </div>






  </form>

</main>
