.box
{
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid;
}
.minibox1
{
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid;
  width: 330px;
  margin-left: 5%;
  height: 275px;
}
.minibox2
{
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid;
  width: 330px;
  height: 275px;
}
.linha1
{
  height: 500px;
}
.linha2
{
  height: 800px;
}
