<main class="container">

  <form class="row tela form-group d-flex">

    <div class="col-md-8">

      <div class="col-md-12">
        <div class="box mb-4 p-4 linha1 d-flex flex-colum align-items-center justify-content-between">
          <div class="w-100">
            <label>label</label>
            <input type="text">
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="box mb-4 p-4  d-flex flex-colum justify-content-between">
            <div class="w-100">
              <label>label</label>
              <input type="text">
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="box mb-4 p-4  d-flex flex-colum justify-content-between">
            <div class="w-100">
              <label>label</label>
              <input type="text">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="col-md-12">
        <div class="box mb-4 p-4 linha2 d-flex flex-colum justify-content-between">
          <div class="w-100">
            <label>label</label>
            <input type="text">
          </div>
        </div>
      </div>
    </div>






  </form>

</main>
