.textCategoria
{
  color: #000A61;
  font-size: 36px;
  font-weight: 600;
}
.PrincipalCategoria
{
  margin-top: 60px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--cor-primaria) ;

}
.categoriaExterna
{
  margin: 50px 10px 0 10px;
}
