<main class="container">
  <div class="carouselhome">
    <app-carousel-banners></app-carousel-banners>
  </div>
  <div class="Titulo">
    <p class="textCategoria">Principais Categorias</p>
  </div>
  <div>
    <app-categoria *ngFor="let categoria of categorias" [categoria]="categoria" class="categoriaExterna d-inline-flex"></app-categoria>
  </div>
  <div class="verTodasExterno">
    <a [routerLink]="['/categorias']"><span class="verTodas" >Ver todas</span></a>
  </div>
  <div class="Titulo">
    <p class="textCategoria">Nossos Produtos</p>
  </div>
  <div class="ajuste">
    <app-carrosel-de-produto [produtos]="nossosProdutos"></app-carrosel-de-produto>
  </div>
  <div class="banner d-inline-flex">
    <img class="banner2" src="assets/banner2.png" alt="Icone de carrinho">
    <img class="banner1" src="assets/banner1.png" alt="Icone de carrinho">
  </div>
  <div class="Titulo">
    <p class="textCategoria">Outros Produtos</p>
  </div>
  <div class="ajuste">
    <app-carrosel-de-produto [produtos]="outrosProdutos"></app-carrosel-de-produto>
  </div>
</main>
